@import "../../constants/variables";
@import "../../constants/breakpoints";

@media (max-width: $desktopSemiMedium) {
  .donate{
    padding-top: 50px;
    padding-bottom: 350px;
    &-container{

    }

    &-wrapper{

    }
    &-left{
      max-width: 100%;
      text-align: center;
      &__descr{

      }
      &__btn{
        margin: 0 auto;
      }
    }
    &-right{
      bottom: -350px;
      &__quote{
      }
      &__text{
      }
    }
  }

}
@media (max-width: $mobileMedium) {
  .donate{
    padding: 50px 0 100px 0;

    &-container{

    }

    &-wrapper{

    }
    &-left{

      &__descr{
        font-size: 15px;
        line-height: 18px;

      }
      &__btn{
      }
    }
    &-right{
      margin-top: 30px;
      padding: 40px 16px 16px 16px;
      position: relative;
      bottom: unset;
      left: unset;
      max-width: 100%;
      height: unset;
      max-height: 400px;
      &__quote{
        font-size: 48px;
        line-height: 66px;
        top: 20px;
        left: 15px;
      }
      &__text{
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

}
