@import "../../constants/variables";
@import "../../constants/breakpoints";

.donate{

  font-family: "FixelText", sans-serif;
  &-container{
    height: 100%;
    position: relative;
  }
  background-color: $back-color;
  position: relative;
  z-index: -1000;
  padding: 150px 0;
  &-wrapper{
    background: url("../img/donate/1.jpg") 50%/cover no-repeat;
    width: 100%;
    height: 400px;
  }

  &__ukraine{
    position: absolute;
    top: 30px;
    right:15px;
  }
  &-left{
    max-width: 475px;
    padding-top: 110px;
    &__descr{
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
      padding-bottom: 30px;
      font-family: "Neuropol", sans-serif;
    }
    &__btn{
      cursor: pointer;
      display: inline-block;
      padding: 8px 60.5px;
      border-radius: 20px;
      background-color: rgba(126, 36, 36, 1);
    }
  }
  &-right{

    position: absolute;
    padding: 145px 15px 15px 65px;
    bottom: -150px;
    right: 0;
    max-width: 705px;
    width: 100%;
    height: 407px;
    background-color: rgba(207, 101, 101, 0.7);
    &__quote{
      position: absolute;
      top: 110px;
      left: 54px;
      font-size: 128px;
      font-weight: 400;
    }
    &__text{
      max-width: 475px;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
    }
  }
}