@import "../constants/variables";
@import "../constants/breakpoints";

.emotions{
  font-family: "Neuropol", sans-serif;

  text-transform: uppercase;
  text-align: center;
  background-color: $base-color;
  padding: 50px 0;
  &__text{
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    color: $back-color;
    font-family: "FixelText", sans-serif;

  }
  &__title{
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: $back-color;

  }
}

@media (max-width: $mobileMedium) {
 .emotions{
   &__text{
     font-size: 15px;
     line-height: 20.7px;
   }
   &__title{
     font-size: 18px;
   }
 }
}