@import "../constants/variables";
.emotions{
  text-transform: uppercase;
  text-align: center;
  background-color: $base-color;
  padding: 50px 0;
  &__text{
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
    color: $back-color;

  }
  &__title{
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: $back-color;

  }
}