@import "../constants/variables";

.footer {
  background-color: $base-color;
  color: $back-color;
  padding-top: 30px;

  &-grid {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 190px;
    justify-content: space-between;
    align-items: start;
  }
  &-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 130px;
    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;

      color: $back-color;
    }
    &_first {
      max-width: 162px;
    }
  }
}

.social{
  display: flex;
  justify-content: right;
  &__descr {
    padding-top: 22px;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    color: #ebebeb;
  }
  &-icons {
    display: flex;
    gap: 16px;
  }
  .btn-footer {
    padding: 20px 32px;
    text-align: center;
  }
}



@media (max-width: 1100px) {
  .footer{
    &-grid {
      grid-template-columns: 160px 160px 160px 160px;
      row-gap: 30px;
    }
    &-item_btn {
      grid-column-start: 2;
      grid-column-end: 4;
      min-width: 100%;
    }
  }
  .btn-footer {
    width: 365px;
  }
}
@media (max-width: 768px) {
  .footer{
    &-grid {
      grid-template-columns: 160px 160px;
      row-gap: 30px;
      justify-content: space-evenly;
    }
    &-item_btn {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  .btn-footer {
    width: auto;
  }
}
@media (max-width: 426px) {
  .footer {
    padding: 60px 15px;
    &-grid {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
    &-item_btn {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
  .btn-footer {
    width: auto;
  }
}