@import "../constants/variables";
@import "../constants/breakpoints";

.header{
  font-family: "Neuropol", sans-serif;
  width: 100%;
  height: 100vh;
  &-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-top{
    z-index: 1;
    display: flex;
    position: relative;
    justify-content: left;
    padding-top: 35px;

    &__logo{
      position: absolute;
      top: 28px;
      left: 50%;
      transform: translateX(-50%);
    }

    .header-nav{
      display: flex;
      gap: 64px;
      align-items: center;

      &__language{
        cursor: pointer;
        color: $base-color;
        font-size: 20px;
        font-family: "FixelText", sans-serif;
        font-weight: 400;
      }

      &__burger{
        display: block;
        width: 31px;
        height:6.2px;
        cursor: pointer;
        position: relative;
        &::after{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 31px;
          height: 1.25px;
          background-color: $base-color;
        }
        &::before{
          content: "";
          position: absolute;
          top: 3.7px;
          left: 0;
          width: 31px;
          height: 1.25px;
          background-color: $base-color;
        }
      }
    }
  }

  &-bottom{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    &__description{
      font-size: 20px;
      font-family: "FixelText", sans-serif;
      font-weight: 400;
    }
    &__title{
      font-family: "Neuropol", sans-serif;
      font-size: 48px;
      font-weight: 900;
    }
    &__date{
      font-size: 16px;
      font-family: "FixelText", sans-serif;
      font-weight: 400;
    }
  }

  &-wrapper {
    background: url("../img/header/background.jpg")  50%/cover no-repeat;
    width: 100%;
    height: 100vh;
    &__logo{
        z-index: 100;
        max-width: 700px;
        padding: 0 15px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.4s linear all;
        opacity: 0;
        &:hover {
          opacity: 1;
        }
    }

    &__blur {
      backdrop-filter: blur(0px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.3s linear all;
    }

    &__menu {
      background-color: #AE4C4C;
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      transition: 0.5s linear all;
      .menu-header{
        padding-top: 65px;
        font-family: "FixelText", sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__close{
          font-size: 32px;
          font-weight: 400;
          line-height: 44px;
          color: $back-color;
          cursor: pointer;
        }
        &__logo{
          font-size: 32px;
          font-weight: 400;
          line-height: 44px;
          color: $back-color;
        }
      }
      .menu-nav{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 50px;
        &__item{
          color: $back-color;
          font-family: "Neuropol", sans-serif;
          font-size: 32px;
          font-weight: 400;
          line-height: 38px;
        }
      }
    }
  }
}


@media (max-width: $tablet) {
  .header {
    &-wrapper {
      &__blur{
        display: none;
      }
      &__logo{
        display: none;
        &:hover {
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: $mobileMedium) {
  .header {
    height: 300px;
    &-wrapper {
      height: 300px;

      &__menu {
        height: 500px;
        .menu-header{
          padding-top: 25px;
          &__close{

          }
          &__logo{
            display: none;
          }
        }
        .menu-nav{
          padding-top: 0;

          gap: 15px;
          &__item{
            font-size: 18px;
          }
        }
      }
    }
    &-bottom{
      padding-bottom: 20px;
      &__description{
        font-size: 14px;
      }
      &__title{
        font-size: 16px;
      }
      &__date{
        font-size: 14px;
      }
    }
    &-top {
      .header-nav {
        gap: 30px;
        &__language {
          font-size: 12px;
        }
      }
    }
  }
}
