@import "../constants/variables";
@import "../constants/breakpoints";


.mission{
  font-family: "Neuropol", sans-serif;
  padding-bottom: 150px;
  background-color: $back-color;
  &-flex{
    gap: 30px;
  }
  &-left{
    &__img{
      max-width: 445px;
    }
    .mission-inner{
      display: none;
      position: relative;
      text-transform: uppercase;
      &__first{
        position: absolute;
        top: 0;
        left: 5px;
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;

      }
      &__second{

        position: absolute;
        bottom: 10px;
        right: 5px;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  &-right{
    max-width: 634px;
    &__title{
      display: flex;
      gap: 20px;
      align-items: end;
      padding-bottom: 60px;
      span:nth-child(1){
        font-size: 128px;
        font-weight: 400;
        line-height: 154px;
      }
      span:nth-child(2){
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
      }
    }
    &__text{
      font-family: "FixelText", sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      padding-bottom: 60px;

    }
    &__subtitle{
      display: flex;
      gap: 20px;
      align-items: end;
      flex-direction: row-reverse;
      span:nth-child(1){
        font-size: 64px;
        font-weight: 400;
        line-height: 77px;
      }
      span:nth-child(2){
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: $desktop) {
  .mission {
    padding-bottom: 100px;
    &-flex {
      align-items: baseline;
      gap: 15px;
    }
    &-left {
      img {
        height: 300px;
      }
    }
    &-right{
      &__title{
        padding-bottom: 15px;
        span:nth-child(1){
          font-size: 100px;
        }
      }
      &__text{
        padding-bottom: 15px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .mission {
    &-flex {
      display: block;
    }
    &-left {
      &__img {
        display: none;
      }
    }
    .mission-inner{
      margin: 0 auto;
      max-width: 550px;
      display: block;
      &__img{
        max-width: 550px;
        width: 100%;
        height: auto;
      }
    }
    &-right{
      max-width: 100%;
      &__title{
        display: none;
      }
      &__text{
        padding-top: 20px;
      }
      &__subtitle{
        display: none;
      }
    }
  }
}

@media (max-width: $mobileMedium) {
  .mission {
    padding-top: 50px;
    padding-bottom: 50px;
    &-right{
      &__text{
       font-size: 14px;
      }
    }
  }
}