@import "../constants/variables";
@import "../constants/breakpoints";

.plan {
  font-family: "Neuropol", sans-serif;
  display: flex;
  overflow: hidden;
  background-color: $back-color;
  position: relative;
  z-index: -1000;
  &-item {
    width: 100%;
    height: 757px;
    display: flex;
    align-items: center;
    padding-left: 120px;
    transition: 0.2s ease width;
    position: relative;
    &_content {
      max-width: 370px;
      color: $base-color;
      img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: auto;
        z-index: -1;
      }
    }
    &__text {
      opacity: 0;
      transition: 0.7s all ease;
      //display: none;
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;

    }

    &__text2 {
      position: absolute;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      line-height: 29px;
    }

    &__descr {
      //display: none;
      opacity: 0;
      transition: 0.7s all ease;
      padding-top: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 23px;
      font-family: "FixelText", sans-serif;

    }
    &_exhibition {
      transition: 0.7s all ease;
      background: url("../img/service/11.jpg") 0 0/cover no-repeat;
      &:hover {
        width: 250%;
        background: rgba(0, 0, 0, 0);
        .plan-item__descr {
          //display: block;
          opacity: 1;
        }
        .plan-item__text {
          //display: block;
          opacity: 1;
        }
        .plan-item__text2 {
          //display: none;
          opacity: 0;
        }
      }
    }
    &_metauniverse {
      transition: 0.7s all ease;
      background: url("../img/service/22.jpg")  0 0/cover no-repeat;
      &:hover {
        width: 250%;
        background: rgba(0, 0, 0, 0);
        .plan-item__descr {
          //display: block;
          opacity: 1;
        }
        .plan-item__text {
          //display: block;
          opacity: 1;
        }
        .plan-item__text2 {
          //display: none;
          opacity: 0;
        }
      }
    }
    &_city {
      transition: 0.7s all ease;
      background: url("../img/service/33.jpg")  0 0/cover no-repeat;
      &:hover {
        width: 250%;
        transition: 0.7s all ease;
        background: rgba(0, 0, 0, 0);
        .plan-item__descr {
          //display: block;
          opacity: 1;
        }
        .plan-item__text {
          //display: block;
          opacity: 1;
        }
        .plan-item__text2 {
          //display: none;
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: $desktopLarge - 100) {
  .plan{
    .plan {
      &-item {
        &_content {
          img {
            width: auto;
            height: 100%;
          }
        }
      }
    }
  }
}


@media (max-width: $desktopSemiMedium) {
  .plan {
    &-item {
      justify-content: center;
      padding-left: 0;
    }
  }
}

@media (max-width: $desktop) {
  .plan {
    &-item {
      justify-content: center;
      padding-left: 0;

      &__text2 {
        font-size: 20px;
      }
    }
  }
}


@media (max-width: $tablet) {
  .plan {
    display: block;
    &-item{
      &_exhibition {
        &:hover {
          width: 100%;
        }
      }
      &__text2 {
        font-size: 24px;
      }
      &_metauniverse {
        &:hover {
          width: 100%;
        }
      }
      &_city {
        &:hover {
          width: 100%;
        }
      }
    }
    &-offline {
      max-width: 100%;
      min-height: 250px;
      &__text {
        font-size: 28px;
      }
    }
    &-metauniverse {
      max-width: 100%;
      min-height: 250px;
      &__text {
        font-size: 28px;
      }
    }
    &-city {
      max-width: 100%;
      min-height: 250px;
      &__text {
        font-size: 28px;
      }
    }
  }
}
@media (max-width: $mobileMedium) {
  .plan{
    &-item{
      height: 420px;
      &__text {
        font-size: 15px;
      }
      &__descr{
        font-size: 14px;
      }
      &_content{
        padding: 0 15px;
      }
    }
  }
}