@import "../constants/variables";
@import "../constants/breakpoints";

.team{
  padding: 150px 0;
  background-color: $back-color;
  &-container{
    //max-width: 1430px;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
  }
  &-wrapper{
    position: relative;
    z-index: 100000;
    background: url("../img/team/team.png")  50%/contain no-repeat;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }
  &__title{
    font-family: "Neuropol", sans-serif;

    padding: 60px 0 74px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;

  }
}

.my-slider{
  position: relative;
  &_arrow{
    cursor: pointer;
    z-index: 100;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotateY(-50%);
  }
  &__item{
    &:hover {
      .my-slider__item-container1{
        background: url("../img/team/color1.png") no-repeat 20% 50%;
      }
      .my-slider__item-container2{
        background: url("../img/team/color2.png") no-repeat 20% 50%;
      }
      .my-slider__item-container3{
        background: url("../img/team/color3.png") no-repeat 20% 50%;
      }
      .my-slider__item-container4{
        background: url("../img/team/color4.png") no-repeat 20% 50%;
      }
      .my-slider__item-container5{
        background: url("../img/team/color5.png") no-repeat 20% 50%;
      }
      .my-slider__item-container6{
        background: url("../img/team/color6.png") no-repeat 20% 50%;
      }
      .my-slider__item-container7{
        background: url("../img/team/color7.png") no-repeat 20% 50%;
      }
      .my-slider__item-container8{
        background: url("../img/team/color8.png") no-repeat 20% 50%;
      }
      .my-slider__item-container9{
        background: url("../img/team/color9.png") no-repeat 20% 50%;
      }
      .my-slider__item-container10{
        background: url("../img/team/color10.png") no-repeat 20% 50%;
      }
      .my-slider__item-wrapper{
        display: block;
      }
    }
    &-container1, &-container2, &-container3, &-container4, &-container5, &-container6, &-container7, &-container8, &-container9, &-container10 {
      display: inline-block;
      &:hover img {
        opacity: 0;
      }
    }
    img {
      transition: all .3s ease;
    }
    position: relative;
    &-wrapper{
      display: none;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "FixelText", sans-serif;

      &__name{
        display: none;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
      }
      &__position{
        display: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
      }
    }
    img{
      height: 330px;
      width: auto;
    }
  }
}
@media (max-width: $desktopSemiMedium) {
  .team{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: $desktop) {
  .my-slider {
    &_arrow{
      display: none;
    }
  }
}

@media (max-width: $tablet) {
  .team {
    padding: 50px 0;
    &__title{
      padding-top: 0;
      padding-bottom: 50px;
    }
  }
  .my-slider {
    &__item {
      &:hover {
        .my-slider__item-container1, .my-slider__item-container2, .my-slider__item-container3, .my-slider__item-container4, .my-slider__item-container5, .my-slider__item-container6, .my-slider__item-container7, .my-slider__item-container8, .my-slider__item-container9, .my-slider__item-container10 {
          background-size: contain;
          height: 200px;
          width: auto;
        }
      }
      img {
        height: 200px;
      }
    }
  }
}

