@import "../../constants/variables";
@import "../../constants/breakpoints";

@media (max-width: $mobileSmall) {

  .ukrainians {
    width: 100%;
    height: 320px;
    background: url('../img/ukrainians/9.jpg') 50% 65% / cover no-repeat;
    &__title {
      font-size: 20px;
      line-height: 24px;
      height: 320px;
    }
  }
}


@media (max-width: $mobileMedium) {

  .ukrainians {
    background-position: 50% 85%;
  }
}